// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-nav {
    background-color: #0834b7;
}

.site-nav .menu-icon > svg path {
    fill: #828282;
}

body {
    background-image: url('#{$baseurl}/assets/images/main-bg.jpg');
    background-color: #858D37;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
}

.home, .post {
    background-color: #ffffff;
    margin-top: 100px;
    padding: 20px;
}

.site-header {
    background-color: #0834b7;
    width: 100%;
    position: fixed;
}

.site-title {
    font-weight: 500;
}

.site-header a:link {
    color: #ffffff;
    text-decoration: none;
}

.site-header a:hover {
    color: #ffffff;
    text-decoration: none;
}

.site-header a:visited {
    color: #ffffff;
    text-decoration: none;
}

a.page-link:hover {
    // padding-bottom: 5px;
    border-bottom: 3px solid #828282;
}

a.active {
    // padding-bottom: 15px;
    border-bottom: 3px solid #dddddd;
}

.update-frame {
    background-color: #d9edf7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.update-frame h2 {
    color: #31708f;
    font-weight: bold;
    text-align: center;
}

.update-text {
    color: #31708f;
    font-weight: 500;
    font-size: larger;
    text-align: center;
}

.center-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.site-footer {
    background-color: #dddddd;
}

.social-media-list li a {
    border-radius: 5px;
}